@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans/OpenSans-Regular.eot) format("embedded-opentype"),
        url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype"),
        url(../fonts/OpenSans/OpenSans-Regular.woff) format("woff");

}

@font-face {
    font-family: "GothamPro-Bold";
    src: url(../fonts/GothamPro/GothamPro-Bold.eot) format("embedded-opentype"),
        url(../fonts/GothamPro/GothamPro-Bold.ttf) format("truetype"),
        url(../fonts/GothamPro/GothamPro-Bold.woof) format("woof");
}

@font-face {
    font-family: "Coustard";
    src: url(../fonts/Coustard-Regular.ttf) format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "OpenSans";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.example {
    background-color: hotpink;
    color: white;
}



.container {
    width: 320px;
    margin: 0 auto;

}

.header_wrapper {
    position: fixed;
    background: white;
    width: 100%;
    top: 10px;
    z-index: 100;
}

.header_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 38px 0 38px 55px;


}




.logo {
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
}

.logo::before {
    content: "";
    position: absolute;
    background: url(../images/iconsofa.png);
    background-color: yellow;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    left: -50px;
    top: -12px;
}

.logo span {
    text-transform: uppercase;
    font-weight: bold;

}


.menu {
    font-weight: bold;
    overflow: hidden;
}

.menu li:last-child {
    position: relative;
    padding-left: 20px;
}



.menu li:last-child::before {
    position: absolute;
    content: "";
    background: url(../images/viber.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: 0px;
    left: 0px;
}

.menu li a {
    color: red;
}

.menu li a::before {

    --size: 0;

    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
}


.menu li a:hover {
    color: blue;
    background-color: yellow;
    font-size: large;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15%;
}

.menu li a:focus {
    color: red;
}


.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .menu-btn {
    display: none;
}


.header .menu-icon {
    display: flex;


    width: 25px;

    position: relative;
    user-select: none;
    cursor: grab;
}


.header .menu-icon .navicon {
    display: block;
    background: yellow;
    width: 25px;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
}

.header .menu-icon .navicon::before,
.header .menu-icon .navicon::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-out;
}

.header .menu-icon .navicon::before {
    background: green;
    top: 10px;
}

.header .menu-icon .navicon::after {
    background: red;
    top: -10px;
}


.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}


.header .menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg);
    top: 0;
}

.header .menu-btn:checked~.menu {
    max-height: 100%;
}

footer {
    background: black;
    color: gray;
    padding: 24px 0;
}

.s1 {
    padding-top: 225px;
    padding-left: 20px;
    padding-right: 148px;
    background: #535353 url(../images/s1_background.png);
    background-blend-mode: soft-light;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;

}


.s1_title {
    font-size: 35px;
    font-family: "GothamPro-Bold";
}

.s1_list {
    padding-top: 24px;
    padding-bottom: 134px;
}

.s1_list_item {
    font-size: 14px;
    padding-left: 24px;
    font-family: "OpenSans";
    position: relative;
    margin-bottom: 10px;

}

.s1_list_item span {
    color: yellow;
}

.s1_list_item::before {
    position: absolute;
    content: "";
    background: url(../images/iconstar.png);
    left: 1px;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;

}

.s1_bottom_arrow {
    transform: rotate(90deg);
    color: yellow;
    font-size: 24px;
    display: block;
    margin: 0 110px;
    padding-right: 54px;
}

footer p {
    margin: 0 20px;
    font-size: 12px;
    text-align: center;
}

.footer_wrapper {
    width: 100%;
    background-color: black;
    top: 10px;
}

.s2 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.s2_title {
    display: block;
    text-align: center;
    font-size: 26px;
    font-family: "GothamPro-Bold";
    padding: 64px 25px 0;
    margin-bottom: 74px;
}

.s2_list {
    padding-bottom: 12px;
}

.s2_list_item {
    margin-bottom: 60px;
    width: 170px;
    height: 170px;
    border: 2px double yellow;
    position: relative;
}

.s2_list_item:hover {
    background-color: black;
    color: white;
    border: 10px solid yellow;
    transform: scale(1.2);


}


.s2_list_item::before {
    content: "";
    position: absolute;
    background-color: yellow;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    top: -29%;
    left: 23%;
}

.s2_list_item::before:hover {
    top: -50px;
    left: 50px;
}

.s2_list_item:nth-child(1):before {
    background: yellow url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: center;

}

.s2_list_item:nth-child(2):before {
    background: yellow url(../images/icon\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;

}

.s2_list_item:nth-child(3):before {
    background: yellow url(../images/icon\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;

}

.s2_list_item:nth-child(4):before {
    background: yellow url(../images/icon\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;

}

.s2_list_item p {
    display: block;
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;

}

.s2_list_item p:first-child {
    padding-top: 40px;
}

.s3 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #535353;
    width: auto;
    padding: 100px 0;
    position: relative;
}

.ant-carousel-hider {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 320px;
    overflow: hidden;
    margin: 0 20px;
    position: relative;
}

.ant-carousel-list {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: auto;

}

.ant-carousel-element {
    margin-right: 20px;
}

.ant-carousel-element img {
    width: 280px;
    height: 230px;
    border: 15px solid orange;
}

.ant-carousel-element p {
    font-size: 16px;
    font-weight: bold;
    padding-left: 50px;
    margin-top: 16px;
    position: relative;
}

.ant-carousel-element p::before {
    position: absolute;
    content: "";
    width: 38px;
    border: 1px solid yellow;
    top: 10px;
    background-color: yellow;
    left: 0;
}

div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 24px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 101;
    top: 38%;
    padding: 15px;
}

div.ant-carousel-arrow-left:hover,
div.ant-carousel-arrow-right:hover {
    opacity: 1;
}

/* левая стрелка слайдера */
div.ant-carousel-arrow-left {
    left: 0px;
    display: block;
    background: #53535383 url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
    background-position: center;
}

/* правая стрелка слайдера */
div.ant-carousel-arrow-right {
    right: 0px;
    display: block;
    background: #53535383 url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
    background-position: center;
}

/* ховер левой стрелки слайдера  */
div.ant-carousel-arrow-left:hover,
div.ant-carousel-arrow-right:hover {
    opacity: 1;
}

/* контейнер с точками слайдера */
div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 38px;
    z-index: 30;
    text-align: center;
}

/* точки слайдера */
span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #bbb;
    border-radius: 5px;
    cursor: pointer;
}


.s4 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.s4_title {
    position: relative;
    padding: 116px 20px 0;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: "GothamPro-Bold";
    text-align: center;



}

.s4_title::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 34px;
    background: url(../images/_\ .png);
    background-position: center;
    background-repeat: no-repeat;
    top: 30%;
    left: 43%;
}

.s4_list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 38px 20px 68px 75px;
    position: relative;
}

.s4_list::before {
    position: absolute;
    content: "";
    height: 60%;
    border: 2px solid;
    color: yellow;
    top: 15%;
    left: 12%;

}

.s4_list_item:last-child {
    display: none;
}

.s5 {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background-color: #303030;
    padding-top: 20px;
}

.s5_title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-left: 54px;
    padding-right: 75px;
    color: white;
}

.s5_list {
    padding-top: 40px;
    padding-bottom: 25px;
    position: relative;
}

.s5_list:not(:first-child)::before {
    position: absolute;
    content: "";
    width: 32px;
    border: 1px solid #ffe100;
    background-color: #ffe100;
    top: 15px;
    left: 54px;
}

.s5_list-item,
.s5_list-contact {
    position: relative;
    padding-left: 95px;
    padding-right: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9c9a9a;
    line-height: 30px;
}

.s5_list-contact {
    padding-left: 54px;
}

.s5_list-contact a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.s5_list-contact p {
    font-size: 14px;
    color: #7b7b7b;
}

.s5_list-item::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    background: url(../images/check.png);
    background-position: center;
    background-repeat: no-repeat;
    top: -3px;
    left: 54px;
}

.s5_list-contact:last-child p {
    position: relative;
    padding-left: 30px;
}

.s5_list-contact:last-child p::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: url(../images/viber.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 4px;
    left: 0;
}

.menu li {
    color: red;
}

.menu li a:hover {
    color: blue;
    font-size: large;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15%;
    background-color: yellow;
}

@media (width: 768px) {
    .container {
        width: 768px;
    }

    .header_nav {
        margin: 0 40px;
    }

    .header .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        overflow: visible;

    }

    .menu li {
        margin-right: 10px;
        padding-left: 20px;
    }

    .menu li:nth-child(1) {
        position: relative;

    }

    .menu li:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 22px;
        background: grey;
        top: 0;
        right: -7px;
    }

    .s1 {
        padding: 253px 40px 0;
    }

    .s1_title {
        font-size: 50px;

    }

    .s1_list_item {
        font-size: 20px;
    }

    .s1_list_item::before {
        top: 4px;
    }

    .s2_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-right: 20px;
    }

    .s2_list:last-child {
        margin-right: 0;
    }

    .s2_title {
        font-size: 38px;
        padding: 80px 129px 0;
    }

    .ant-carousel-hider {
        width: 768px;
        margin: 0 40px;
    }

    .ant-carousel-element img {
        width: 334px;
        height: 240px;

    }

    .s4 {
        align-items: flex-start;

    }

    .s4_list {
        padding: 38px 20px 80px 306px;
    }

    .s4_title {
        padding: 84px 72px 0 156px;
        font-size: 23px;
        text-align: left;
    }

    .s4_list_item:last-child {
        display: block;
    }

    .s4_list::before {
        height: 60%;
        top: 15%;
        left: 306px;

    }

    .s4_title::before {
        width: 75px;
        height: 50px;
        background: url(../images/kavychki.png);
        top: 58%;
        left: 7%;
    }

    .s5 {
        flex-flow: row wrap;
        padding-left: 129px;
        padding-top: 79px;
    }

    .s5 div {
        width: 246px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .s5_list {
        padding: 0;
    }

    .s5_list:not(:first-child) {
        top: 42px;
    }

    .s5_list:not(:first-child)::before {
        left: 0;
        top: -20px;

    }



    .s5_list-contact,
    .s5_list-item {
        margin: 0;
        padding: 0;
    }

    .s5_list-item {
        padding-left: 35px;
    }

    .s5_list-item::before {
        top: 0px;
        left: 0px;

    }

    .s5_title {
        padding: 0;
    }

    footer {
        padding: 22px 0;
    }

    footer p {
        font-size: 14px;
    }
}



@media(width: 1280px) {

    .container {
        width: 1280px;
    }

    .header_nav {
        margin: 0 60px;
        padding: 34px 0 34px 55px;
    }

    .header .menu-icon {
        display: none;
    }

    .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        overflow: visible;
    }

    .menu li {
        margin-right: 20px;
    }

    .menu li:nth-child(1) {
        position: relative;
    }

    .menu li:nth-child(1)::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 22px;
        background: grey;
        top: 0;
        right: -12px;
    }

    .s1 {
        padding-top: 330px;
        padding-left: 159px;

    }

    .s1_title {
        font-size: 72px;
    }

    .s1_list {
        padding-bottom: 170px;
    }

    .s1_list-item {
        font-size: 24px;
    }

    .s1_list-item::before {
        top: 7px;
    }

    .s2_title {
        font-size: 44px;
        padding: 80px 355px 0;
    }

    .s2_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .s2_list-item {
        margin-right: 20px;
    }

    .s2_list-item:last-child {
        margin-right: 0;
    }

    .ant-carousel-hider {
        width: 1280px;
        margin: 0 60px;
    }

    .ant-carousel-element img {
        width: 570px;
        height: 344px;
    }

    .s4 {
        align-items: flex-start;
    }

    .s4_title {
        padding: 84px 62px 0 315px;
        text-align: left;
    }

    .s4_title::before {
        width: 110px;
        height: 73px;
        background: url(../image/icons/s4_desktop-icon.png);
        top: 53%;
        left: 14%;
    }

    .s4_title p {
        font-size: 34px;
        letter-spacing: 3.5px;
        line-height: 42px;
    }

    .s4_list {
        padding: 38px 20px 80px 677px;
    }

    .s4_list::before {
        height: 60%;
        border: 1px solid #ffe100;
        top: 15%;
        left: 650px;
    }

    .s4_list-item:last-child {
        display: block;
    }

    .s5 {
        flex-flow: row wrap;
        padding: 79px 237px 0;
        justify-content: space-between;
    }

    .s5 div {
        width: 246px;
        margin-bottom: 74px;
    }

    .s5_list:not(:first-child) {
        padding-top: 42px;
    }

    .s5_list:not(:first-child)::before {
        left: 0;
        top: 20px
    }

    .s5_list,
    .s5_list-contact,
    .s5_list-item,
    .s5_title {
        padding: 0;
        margin: 0;
    }

    .s5_list-item {
        padding-left: 35px;
    }

    .s5_list-item::before {
        top: 0px;
        left: 0px;
    }

    .s5 div:last-of-type {
        width: 700px;
    }

    .s5 div:last-of-type ul,
    .s5_list-contact {
        display: flex;
        flex-flow: row;
    }

    .s5_list-contact p {
        margin: 0 10px;
    }

    .s5_list-contact:first-child {
        position: relative;
        padding-right: 20px;
    }

    .s5_list-contact:first-child::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 28px;
        background: grey;
        top: 0;
        right: 10px;
    }

    .s5_list-contact:nth-of-type(2) {
        padding-left: 30px;
    }

    .s5_list-contact:last-child p {
        padding: 0
    }

    .s5_list-contact:last-child p::before {
        left: -216px;
    }

    /* FOOTER */
    footer {
        padding: 22px 0;
    }

    footer p {
        font-size: 14px;
    }

}